# Google Sheets
GOOGLE_SPREADSHEET_MEDICATION_ID=
GOOGLE_SPREADSHEET_ABBREVIATION_ID=
GOOGLE_SPREADSHEET_ACCOUNT_ID=

# Google API authentication
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECT_ID=